
// BRAND COLORS
$purple: #4B367C;
$lightPurple: #D7CCEB;
$darkPurple: #2C2541;

// GREYS
$darkGrey: #666699;
$lightGrey: #efeff5 ;

//STATUS LIGHTS
$blue: #1ad1ff;
$green: #00ff00;
$yellow: #ffff00;

@mixin statusButton($color) {
    border: 3px solid $color;

    & > div { background: $color; }

    &:hover {
        h2 { color: white; }
    }

    &.active { box-shadow: 0 0 20px $color; }
}


// =============================================================================

body {
    background: url("../images/background1.jpg");
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: $purple;
    font-family: sans-serif;
}

#ctn {
    max-width: 1200px;
    min-height: 100vh;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
    border-left: 5px solid white;
    border-right: 5px solid white;
    margin: auto;
    padding: 30px 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#twitch-logo {
    height: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    /*For older browsers*/
    background: $darkGrey;
    /*For browsers that support gradients*/
    background: linear-gradient(to top, $darkGrey, $lightGrey);

    padding: 0.5em 1em;
    display: flex;
    align-items: center;

    div {
       height: 15px;
       width: 15px;
       border-radius: 100%;
       border: 2px solid white;
       display: inline-block;
       margin-right: 10px;
   }

   h2 {
       margin: 0;
       font-size: 15px;
   }
}

.blue {
    @include statusButton($blue);
}
.green {
    @include statusButton($green);
}
.yellow {
    @include statusButton($yellow);
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.profiles {
    height: 250px;
    width: 250px;
}

.profile-images {
    height: 90%;
    width: 90%;
    border-radius:100%;
    border: 2em solid $blue;
    box-sizing: border-box;
}
